<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    
     <!-- 注解驱动 -->
    <mvc:annotation-driven />
    
    <!-- 在指定的package下扫描并注册bean -->
    <context:component-scan base-package="com.dance4Ever.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    
	<!-- 在Controller返回的ModelAndView的基础上,加上目录前缀/WEB-INF/views/,加后文件名称后缀.jsp -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp" />
    </bean>
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/resources/images/**" location="/resources/images/" />
	<mvc:resources mapping="/resources/css/**" location="/resources/css/" />
    <mvc:resources mapping="/resources/js/**" location="/resources/js/" />
    <mvc:resources mapping="/resources/bootstrapjs/**" location="/resources/bootstrapjs/" />
    <mvc:resources mapping="/resources/bootstrapcss/**" location="/resources/bootstrapcss/" />
    <mvc:resources mapping="/resources/new/**" location="/resources/new/" />
	
</beans>